html {
    background-color: rgba(223, 242, 242, 0.816);
    display: absolute;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
}

.card {
    width: 300px; 
    
    
}

h1, h2, p {
    text-align: center;
    padding: 0;
    margin: 0px;
}
h1, p {
    color: #ffffff;
}
h1 {
    padding-bottom: 10px;
    padding-top: 20px;
}
h2 {
    font-size: 80px;
    
}
p {
    font-size: 12px;
    padding-bottom: 30px;
}
span {
    font-size: 20px;
    font-weight: lighter;
}

li {
    list-style: none;
    line-height: 30px;
    
}

.card-1 > .title {
    padding-top: 1px;
    background: linear-gradient(#f1d062, #79022a);
}
.card-2 > .title {
    padding-top: 1px;
    background: linear-gradient(#0399e4, #0a0250);
}
.card-3 > .title {
    padding-top: 1px;
    background: linear-gradient(#569140, #027362);
}

.title {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

button {
    color: #ffffff;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    border: 1px solid #ffffff;
}

.card-1 button {
    background: linear-gradient(#f1d062, #79022a);
}
.card-2 button {
    background: linear-gradient(#0399e4, #0a0250);
}
.card-3 button {
    background: linear-gradient(#569140, #027362);
}

button:hover {
    transform: scale(1.02);
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        
        height: auto;       
    }
   
    
}